.container {
  margin: 0px;
  padding: 0px;

  background-image: url("../../assets/peter-broomfield-m3m-lnR90uM-unsplash.jpg");
  background-size: cover;
}

.titulo {
  padding: 15px;
  margin-top: 65px;
  margin-left: 30px;
  width: 400px;
  height: 350px;
}

.titulo h1 {
  padding: 2px;
  color: #fb8500;
  font-size: 4.5em;
}

.boxBtn {
  margin-top: 30px;
  margin-left: 50px;
  width: 274px;
  height: 88px;
}

.boxBtn button {
  width: 274px;
  height: 88px;
  font-size: 60px;
  padding: 0px;
  margin-bottom: 50px;
  background-color: #fb8500;
}
.botones {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
}
.footer {
  margin-top: 6rem;
  display: grid;
}

@media screen and (max-width: 780px) {
  h1 {
    font-size: 1.5rem;
  }
}
