.container {
  margin: 0px;
  padding: 0px;

  background-image: url("../../assets/peter-broomfield-m3m-lnR90uM-unsplash.jpg");
  background-size: cover;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titulo {
  padding: 15px;
  margin-top: 65px;
  margin-left: 30px;
  width: 400px;
}

.titulo h1 {
  padding: 2px;
  color: #fb8500;
  font-size: 3.5em;
}

.boxBtn {
  margin-top: 30px;
  margin-left: 50px;
  width: 274px;
  height: 88px;
}

.boxBtn button {
  width: 274px;
  height: 88px;
  font-size: 60px;
  padding: 0px;
  margin-bottom: 50px;
  background-color: #fb8500;
}
.botones {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
}

@media screen and (max-width: 780px) {
  h1 {
    font-size: 1.5rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 5em;
    background-image: url("../../assets/olav-tvedt--oVaYMgBMbs-unsplash.jpg");
  }
}

@media screen and (min-width: 480px) {
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: transparent;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 250px;
  margin: 30px auto;
  overflow: hidden;
  position: relative;
  width: 95%;
}
.slider::before,
.slider::after {
  background: linear-gradient(to right, darkred 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 250px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .con {
  padding: 10px;
}
.slider .slide_track {
  animation: scroll 15s linear infinite;
  display: flex;
  width: calc(250px * 7);
}
.slider .slide {
  height: 230px;
  width: 230px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider :is(#img1, #img11) {
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.5), rgba(0, 0, 255, 0.199)), url("../../assets/carousel-landing/img1.jpg");
}
.slider :is(#img2, #img22) {
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.5), rgba(0, 0, 255, 0.199)), url("../../assets/carousel-landing/img2.jpg");
}
.slider :is(#img3, #img33) {
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.5), rgba(0, 0, 255, 0.199)), url("../../assets/carousel-landing/img3.jpg");
}
.slider :is(#img4, #img44) {
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.5), rgba(0, 0, 255, 0.199)), url("../../assets/carousel-landing/img4.jpg");
}
.slider :is(#img5, #img55) {
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.5), rgba(0, 0, 255, 0.199)), url("../../assets/carousel-landing/img5.jpg");
}
.slider :is(#img6, #img66) {
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.5), rgba(0, 0, 255, 0.199)), url("../../assets/carousel-landing/img6.jpg");
}
.slider :is(#img7, #img77) {
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.5), rgba(0, 0, 255, 0.199)), url("../../assets/carousel-landing/img7.jpg");
}
:is(#img2, #img22, #img3, #img33, #img4, #img44) img {
  width: 150px;
}
.slider img {
  width: 90px;
}

.container_2 {
  color: blanchedalmond;
  background-color: darkred;
  padding-top: 30px;
  padding-bottom: 30px;
}
.container_2 h2 {
  margin-inline: 50px;
  font-size: 3.5em;
}
.container_2 h2 span {
  color: rgb(255, 145, 0);
}
.container_2 p {
  margin: 30px 50px;
  font-size: 19px;
  width: 70%;
  letter-spacing: 1px;
}
.container_2 .info {
  display: flex;
}
.info a {
  margin: auto;
}
.info button {
  background: transparent;
  text-decoration: underline;
  letter-spacing: 5px;
  font-size: 20px;
  text-underline-offset: 10px;
  transition: 0.5s;
}
.info button:hover {
  background: transparent;
  color: orange;
}

.container_3 {
  display: flex;
  background-color: chocolate;
  color: blanchedalmond;
}
.col1 {
  width: 50%;
  background-image: linear-gradient(to bottom, black, transparent), url("../../assets/carousel-landing/selection.jpg");
  background-size: cover;
  height: 370px;
}
.col1 img {
  height: 100%;
}
.col2 {
  width: 60%;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
}
.col2 h2 {
  margin: 30px 50px;
  font-size: 3em;
}
.col2 p {
  margin-inline: 50px;
}

.back_video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  object-fit: cover;

  height: 100%;
  margin: 0px;
  object-fit: cover;
  padding: 0px;
}

.content {
  word-spacing: 5px;
}
.content h1 {
  margin: 70px 20px;
  font-size: 75px;
  color: rgb(255, 255, 255);
  text-shadow: 5px 5px rgb(39, 37, 37);
  font-weight: bolder;
  transition: 1s;
}
.content h1:hover {
  transform: skewX(-20deg);
}
.content button {
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  color: rgb(243, 243, 243);
  font-size: 24px;
  width: 170px;
  border: 3.5px solid rgba(234, 231, 231, 0.685);
  padding: 20px;
  border-radius: 35px;
  transition: 0.7s;
  animation: btn_shadow 1.5s infinite;
}
@keyframes btn_shadow {
  50% {
    box-shadow: 0 0 10px 3px rgb(243, 243, 243);
  }
}
.content button:hover {
  background-color: orange;
  cursor: pointer;
  transform: translateY(5px);
  box-shadow: none !important;
}
