.footer{
    width: 100%;
    position: absolute;
    padding: 20px 0px;
    background-color: rgb(51, 54, 54);
}
.footer_contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-top: 10px;
    padding: 40px;
}
.item{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0px;
}
.item a {
    margin: 5px;
    color: #7a7a7a;
    font-weight: 600;
}
.descrip{
    max-width: 350px;
    margin: 5px;
    color: #7a7a7a;
    font-weight: 600;
}
.logo{
    margin:5px;
    max-width: 200px;
    max-height: 200px;
}
.i{
    padding: 10px;
}
